 <div class="container">
    <div class="row">
	  <div class="col s12 m7"  ng-repeat="char in $ctrl.pok">
    <h2 class="header">{{char.name}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <!-- <img src="http://lorempixel.com/100/190/nature/6"> -->
      </div>
       <div class="card-action">
       {{char.url}}
          <a href="javascript:void(0)" ng-click="info('{{char.url}}')">Detalles</a>
        </div>
<!--       <div class="card-stacked">
        <div class="card-content">
        	speed: {{char.speed}} <br>
        	weight: {{char.weight}}
        </div>

        <div class="card-action">
			 Habilidad:<br>
			<div  ng-repeat="char2 in char.abilities">                
               {{char2.name}}  		   	 	
	   	 </div>
	   	 <br>
	   	 Types:<br>
	   	 <div  ng-repeat="char3 in char.types">                
                {{char3.name}}  		   	 	
	   	 </div>  
        </div>
      </div> -->
    </div>
  </div>
 	</div> 
 </div>
